* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* rgb(26, 135, 44); */
/* rgb(74, 152, 87); */
nav {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navImage {
  width: 50px;
  height: 50px;
}

.navTitle {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.recuperarContraseña {
  text-decoration: none;
  margin-bottom: 1rem;
}

.recuperarContraseña:hover {
  color: rgb(24, 24, 190);
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

main h1 {
  text-align: center;
}

main h2 {
  font-size: 2.5rem;
  text-align: center;
}

.iniciarSesion {
  width: 50%;
  height: 3rem;
  background-color: rgb(26, 131, 135);
  border-radius: 0.5rem;
  border: 1px solid rgb(26, 131, 135);
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.iniciarSesion:hover {
  background-color: rgb(67, 182, 186);
}

.crearCuenta {
  width: 50%;
  height: 3rem;
  background-color: rgb(58, 29, 125);
  border-radius: 0.5rem;
  border: 1px solid rgb(58, 29, 125);
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.crearCuenta:hover {
  background-color: rgb(106, 78, 169);
}

.paciente {
  width: 80%;
  height: auto;
  background-color: rgb(26, 33, 135);
  border-radius: 0.5rem;
  border: 1px solid rgb(26, 33, 135);
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.paciente:hover {
  background-color: rgb(67, 74, 176);
}

.doctor {
  width: 80%;
  height: auto;
  background-color: rgb(26, 131, 135);
  border-radius: 0.5rem;
  border: 1px solid rgb(26, 131, 135);
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.doctor:hover {
  background-color: rgb(67, 182, 186);
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

form > label {
  font-size: 1.5rem;
}

form > input {
  height: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

form > button {
  background-color: green;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 2rem;
  color: white;
  border: 1px solid green;
  border-radius: 0.5rem;
}

.btn {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  background-color: green;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 2.5rem;
  color: white;
  border: 1px solid green;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.5rem;
}

.btn:hover {
  background-color: #17f717;
}

.botonPaciente {
  width: 80%;
  height: auto;
  background-color: rgb(26, 33, 135);
  border-radius: 0.5rem;
  border: 1px solid rgb(26, 33, 135);
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.botonPaciente:hover {
  background-color: rgb(67, 74, 176);
}

.botonDoctor {
  width: 80%;
  height: auto;
  background-color: rgb(26, 131, 135);
  border-radius: 0.5rem;
  border: 1px solid rgb(26, 131, 135);
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.botonDoctor:hover {
  background-color: rgb(67, 182, 186);
}

.agendar {
  width: 80%;
  height: auto;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  background-color: rgb(58, 29, 125);
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.agendar:hover {
  background-color: rgb(106, 78, 169);
}

.cerrarSesion {
  width: 80%;
  height: auto;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  background-color: rgb(179, 8, 8);
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.cerrarSesion:hover {
  background-color: rgb(203, 20, 20);
}

.citas {
  width: 80%;
  height: auto;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  background-color: rgb(26, 135, 44);
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
}

img {
  width: 700px;
  height: 500px;
}

.cita {
  width: 80%;
  height: 6rem;
  padding: 1rem;
  border: 2px solid rgb(26, 135, 44);
  border-radius: 5px;
  display: flex;
}

.citaFecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  text-align: center;
  border-right: 2px solid rgb(26, 135, 44);
}

.citaInformacion {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-right: 2px solid rgb(26, 135, 44);
}

.citaBoton {
  width: 20%;
  align-self: center;
  text-align: center;
}

.citaInformacionDr {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.reagendar {
  text-decoration: none;
  background-color: goldenrod;
  width: 100%;
  height: auto;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.reagendar:hover {
  background-color: rgb(194, 170, 109);
}

.confirmacion {
  width: 80%;
  background-color: rgba(41, 182, 41, 0.359);
  color: green;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  /* Tu CSS para móviles aquí */
  .cita {
    width: 80%;
    height: auto;
    padding: 1rem;
    border: 2px solid rgb(26, 135, 44);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .citaFecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-right: none;
    border-bottom: 2px solid rgb(26, 135, 44);
  }

  .citaInformacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-right: none;
    border-bottom: 2px solid rgb(26, 135, 44);
  }
}
